<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Волк слабее льва и тигра, но он хотя бы не питон</title>
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" nonce="15FD2A8FF7AAD348A2AC473D89761364" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/79361FE4-E74C-7D43-AAC2-C2A26CF13468/main.js" charset="UTF-8"></script>
</head>
<body>
	<h1>Здравствуйте!</h1>
	<p>Это генератор пацанских цитат с помощью марковских цепей. <br>
	Он выкачивает посты из имеющихся сообществ на пацанско-подъездную тематику и порождает ещё больше постов на пацанско-подъездную тематику.</p>
	<form action="http://127.0.0.1:5000/quote" method="POST">
		<fieldset>
			<legend><strong><h3>Поехали?</h3></strong></legend>
			Дисклеймер: автор кода рассчитывал на получение смешных цитаток а-ля Кличко, и количество ненормативной лексики удивило. <br> 
			За всё выданное марковской цепью автор кода ответственности не несёт.
			<p><input type='submit' value='Поехали!'></p>
		</fieldset>
	</form>
	<p></p>
</body>