<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Волк слабее льва и тигра, но он хотя бы не питон</title>
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" nonce="15FD2A8FF7AAD348A2AC473D89761364" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/79361FE4-E74C-7D43-AAC2-C2A26CF13468/main.js" charset="UTF-8"></script>
</head>
<body>
	<h1>Ваша пацанская цитатка на сегодня:</h1>
	{{sentence}}
	<p><a href='/'>Ещё</a></p>
</body>